@charset "UTF-8";
/*Parrafo principal de Index*/
.ContenedorPrincipalParrafo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  align-content: center; }

.TituloSeccion {
  text-align: center;
  font-family: 'Teko', sans-serif;
  color: #1c9bab;
  font-size: 60px;
  margin-bottom: 20px; }

.featurette-heading {
  color: #1c9bab;
  font-family: 'Teko', sans-serif;
  font-size: 40px; }

.ParrafoIndex {
  margin-top: 0%;
  margin-left: 15%;
  margin-bottom: 100px;
  width: 70%;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  display: block; }

/*Imagenes circulares de Index*/
.img-thumbnail {
  border-radius: 50%;
  margin-bottom: 40px;
  margin-right: 10px; }

.TextoImagenCircular {
  text-align: center;
  font-family: 'Teko', sans-serif;
  color: #be1522;
  font-size: 40px; }

/*Seccion Hamburguesa,HotDog y Pizza de Index*/
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

/*Seccion de Locales*/
.nav-link {
  color: #a3131f;
  font-family: "Teko", sans-serif;
  font-size: 40px; }

@media only screen and (max-width: 600px) {
  .nav-link {
    color: #a3131f;
    font-family: "Teko", sans-serif;
    font-size: 20px; } }

.card {
  margin-bottom: 20px; }

.card-title, .SubtituloPlaylist {
  color: #a3131f;
  font-family: "Teko", sans-serif;
  font-size: 40px; }

.SubtituloPlaylist {
  text-align: center;
  margin-bottom: 20px; }

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem; }

.icon-link {
  display: inline-flex;
  align-items: center; }

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor; }

.icon-link:hover > .bi {
  transform: translate(0.25rem); }

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem; }

.rounded-4 {
  border-radius: .5rem; }

.rounded-5 {
  border-radius: 1rem; }

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25); }

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25); }

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.dato h3 {
  color: #1c9bab;
  font-family: "Teko", sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 15px; }

.dato h4 {
  color: #a3131f;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  text-align: center; }

@media only screen and (max-width: 1200px) {
  .dato h3 {
    color: #1c9bab;
    font-family: "Teko", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px; }
  .dato h4 {
    color: #a3131f;
    font-family: "Teko", sans-serif;
    font-size: 25px;
    margin-left: 0px;
    text-align: center; } }

.container-fluid {
  align-items: center; }
  .container-fluid .icono-seccion {
    align-items: center;
    width: 100%;
    margin-top: 20px; }
  .container-fluid h3 {
    margin-top: 10px;
    color: #1c9bab;
    font-family: "Teko", sans-serif;
    font-size: 40px;
    text-align: center; }

/*Seccion de Contacto*/
.Formulario {
  width: 100%;
  height: 100%;
  background-color: black; }

/*Estilos de marketing de deliverys*/
.Delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  align-content: left; }

.Rappi, .PedidosYa {
  margin: auto;
  width: 150px;
  height: 100%; }

footer {
  background-color: #1A1A1A;
  height: 50%;
  color: white;
  padding: 15px; }

.nombreCreador {
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

.nombreCreador p {
  margin-left: 10px;
  margin-right: 10px; }

body {
  padding: 0;
  margin: 0;
  zoom: 90%; }

header {
  padding: 0;
  margin: 0;
  background-image: url("../img/BackGoundHeader2.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  background-color: black; }

a {
  text-decoration: none;
  color: white; }

/*Menú de Navegación*/
.navbar-light .navbar-nav .nav-link {
  color: grey; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: white; }

.sticky-top navbar-expand-lg navbar-light bg-dark {
  align-items: center;
  margin-left: 15%; }

.actual {
  color: #be1522; }
  .actual:hover {
    color: #d42c3a; }

.opacidad {
  opacity: 95%; }
