@import "variables.scss";
footer {
	background-color:#1A1A1A;
	height: 50%;
    color: $color-blanco-back;
    padding: 15px;
}
.nombreCreador{
    width: 100%;
    height: 5%;
    background-color: black;
    color: $color-blanco-back;
    font-family:'Teko', sans-serif; 
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
}
.nombreCreador{
    p{
    margin-left: 10px;
    margin-right: 10px;
    }
}
