@import "variables.scss";
/*Seccion de Locales*/

@mixin estiloLocales($color, $fuente, $tamfuente) {
    color: $color;
    font-family: $fuente;
    font-size: $tamfuente;
}

.nav-link{
    @include estiloLocales($color-rojo-titulos, $fuente-teko ,40px);
}

@media only screen and (max-width: 600px) {
    .nav-link{
        @include estiloLocales($color-rojo-titulos, $fuente-teko ,20px);
    }
}
.card{
    margin-bottom: 20px;
}
.card-title{
    @include estiloLocales($color-rojo-titulos, $fuente-teko ,40px);
}
.SubtituloPlaylist{
    @extend .card-title;
    text-align: center;
    margin-bottom: 20px;
}