/*Estilos de marketing de deliverys*/
.Delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    align-content: left;
}
.Rappi{
  margin:auto;
  width: 150px;
  height: 100%;
}
.PedidosYa{
    margin:auto;
    width: 150px;
    height: 100%;
}