@import "variables.scss";
/*Estilos de marketing de deliverys*/
.Delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: $color-blanco-back;
    align-content: left;
}
@mixin marcas ($margen , $width, $height){
  margin:$margen;
  width:$width;
  height:$height;
}
.Rappi{
@include marcas(auto, 150px, 100%)
}
.PedidosYa{
 @extend .Rappi;
}